log/*
!log/.gitkeep

# Make sure the REST hotfix is included
!node_modules/
node_modules/*
!node_modules/discord.js/
node_modules/discord.js/*
!node_modules/discord.js/src/
node_modules/discord.js/src/*
!node_modules/discord.js/src/rest/
node_modules/discord.js/src/rest/*
!node_modules/discord.js/src/rest/RequestHandler.js
