[submodule "src/modules/CommandHandler"]
	path = src/modules/CommandHandler
	url = https://github.com/Damon-Org/CommandHandler
[submodule "src/modules/CommandRegistrar"]
	path = src/modules/CommandRegistrar
	url = https://github.com/Damon-Org/CommandRegistrar
[submodule "src/modules/DB"]
	path = src/modules/DB
	url = https://github.com/Damon-Org/DB
[submodule "src/modules/GuildSettings"]
	path = src/modules/GuildSettings
	url = https://github.com/Damon-Org/GuildSettings
[submodule "src/modules/LavaLink"]
	path = src/modules/LavaLink
	url = https://github.com/Damon-Org/LavaLink
[submodule "src/modules/Presence"]
	path = src/modules/Presence
	url = https://github.com/Damon-Org/Presence
[submodule "src/modules/MusicSystem"]
	path = src/modules/MusicSystem
	url = https://github.com/Damon-Org/MusicSystem.git
[submodule "src/modules/APICollections"]
	path = src/modules/APICollections
	url = https://github.com/Damon-Org/APICollections
[submodule "src/modules/EventExtender"]
	path = src/modules/EventExtender
	url = https://github.com/Damon-Org/EventExtender
[submodule "src/modules/DJSystem"]
	path = src/modules/DJSystem
	url = https://github.com/Damon-Org/DJSystem
[submodule "src/modules/ReactionInterface"]
	path = src/modules/ReactionInterface
	url = https://github.com/Damon-Org/ReactionInterface
[submodule "src/modules/Metrics"]
	path = src/modules/Metrics
	url = https://github.com/Damon-Org/Metrics
[submodule "src/modules/TrackResolver"]
	path = src/modules/TrackResolver
	url = https://github.com/Damon-Org/TrackResolver
[submodule "src/modules/TrackSpotify"]
	path = src/modules/TrackSpotify
	url = https://github.com/Damon-Org/TrackSpotify
[submodule "src/modules/TrackDeezer"]
	path = src/modules/TrackDeezer
	url = https://github.com/Damon-Org/TrackDeezer
[submodule "src/modules/WebSocketClient"]
	path = src/modules/WebSocketClient
	url = https://github.com/Damon-Org/WebSocketClient
[submodule "src/modules/MongoDB"]
	path = src/modules/MongoDB
	url = https://github.com/Damon-Org/MongoDB
[submodule "src/modules/ServerSetting"]
	path = src/modules/ServerSetting
	url = https://github.com/Damon-Org/ServerSetting
[submodule "src/modules/UserSetting"]
	path = src/modules/UserSetting
	url = https://github.com/Damon-Org/UserSetting
