[submodule "src/modules/CommandHandler"]
	path = src/modules/CommandHandler
	url = https://github.com/Damon-Org/CommandHandler
[submodule "src/modules/CommandRegistrar"]
	path = src/modules/CommandRegistrar
	url = https://github.com/Damon-Org/CommandRegistrar
[submodule "src/modules/DB"]
	path = src/modules/DB
	url = https://github.com/Damon-Org/DB
[submodule "src/modules/GuildSettings"]
	path = src/modules/GuildSettings
	url = https://github.com/Damon-Org/GuildSettings
[submodule "src/modules/LavaLink"]
	path = src/modules/LavaLink
	url = https://github.com/Damon-Org/LavaLink
[submodule "src/modules/Presence"]
	path = src/modules/Presence
	url = https://github.com/Damon-Org/Presence
[submodule "src/modules/WebSocketClient"]
	path = src/modules/WebSocketClient
	url = https://github.com/Damon-Org/WebSocketClient
