[submodule "src/modules/CommandHandler"]
	path = src/modules/CommandHandler
	url = https://github.com/Damon-Org/CommandHandler
[submodule "src/modules/CommandRegistrar"]
	path = src/modules/CommandRegistrar
	url = https://github.com/Damon-Org/CommandRegistrar
[submodule "src/modules/MusicSystem"]
	path = src/modules/MusicSystem
	url = git@github.com:Damon-Org/MusicSystem
[submodule "src/modules/DJSystem"]
	path = src/modules/DJSystem
	url = https://github.com/Damon-Org/DJSystem
[submodule "src/modules/APICollections"]
	path = src/modules/APICollections
	url = https://github.com/Damon-Org/APICollections
[submodule "src/modules/EventExtender"]
	path = src/modules/EventExtender
	url = https://github.com/Damon-Org/EventExtender
[submodule "src/modules/LavaLink"]
	path = src/modules/LavaLink
	url = https://github.com/Damon-Org/LavaLink
[submodule "src/modules/TrackResolver"]
	path = src/modules/TrackResolver
	url = https://github.com/Damon-Org/TrackResolver
[submodule "src/modules/TrackSpotify"]
	path = src/modules/TrackSpotify
	url = https://github.com/Damon-Org/TrackSpotify
[submodule "src/modules/TrackDeezer"]
	path = src/modules/TrackDeezer
	url = https://github.com/Damon-Org/TrackDeezer
[submodule "src/modules/ServerSetting"]
	path = src/modules/ServerSetting
	url = https://github.com/Damon-Org/ServerSetting
[submodule "src/modules/MongoDB"]
	path = src/modules/MongoDB
	url = https://github.com/Damon-Org/MongoDB
[submodule "src/modules/ReactionInterface"]
	path = src/modules/ReactionInterface
	url = https://github.com/Damon-Org/ReactionInterface
[submodule "src/modules/UserSettings"]
	path = src/modules/UserSettings
	url = https://github.com/Damon-Org/UserSetting.git
[submodule "src/modules/Presence"]
	path = src/modules/Presence
	url = https://github.com/Damon-Org/Presence
