[Unit]
Description=Damon Music
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=node
ExecStart=/bin/node /home/node/music/index.js

[Install]
WantedBy=multi-user.target
